/*=============================================
=            Varibles           =
=============================================*/
/* Colors*/
/* Main Font */
/* Paddins */
/* Margins */
/* Animation */
/*=====  End of Section variables  ======*/
/*=============================================
=            Typographic            =
=============================================*/
h1 {
  font-size: 2.063rem;
  line-height: 3.188rem;
  color: #1B82A8;
  font-weight: 400;
  display: none;
}

h2 {
  font-size: 1.625rem;
  line-height: 2.688rem;
  color: #1B82A8;
  font-weight: 400;
  padding: 0.938rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: normal;
  color: #474646;
  padding: 0.938rem;
}

p {
  margin: 0 auto;
  padding: 0.938rem;
  width: 90%;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #474646;
}

h4 {
  font-size: 0.813rem;
  line-height: 1.375rem;
  font-weight: normal;
  color: #8F8F8F;
}

/*=====  End of Typographic  ======*/
.wrap {
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: space-between;
}

header {
  width: 100%;
  height: 100px;
  box-shadow: 2px 10px 15px #f4f4f4;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}

.row {
  width: 100%;
}

.search {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  background-color: #f9f9f9;
}
.search input[type=search] {
  padding-top: 4px;
  background-color: none;
  border-bottom: none;
}
.search input[type=search]:focus {
  color: slategray;
}

.map-img {
  margin-top: 40%;
  width: 156px;
  height: 156px;
  background-image: url("/img/location.png");
  background-size: cover;
  background-position: center center;
  filter: opacity(40%);
}

h2 {
  width: 70%;
  opacity: 50%;
}

.main-nav {
  width: 100%;
  padding: 10px 0px;
  box-shadow: 0px -10px 15px #f4f4f4;
}
.main-nav ul {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-nav ul li a {
  color: #1B82A8;
}