.container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}

.row {
  width: 100%;
}

.search {
  margin-top: 30px;
}
.search input[type=search] {
  width: 100%;
  padding: 10px 0;
}