
/*=============================================
=            Varibles           =
=============================================*/


/* Colors*/

$dark-blue: #1B82A8;

$light-blue: #A8E6CF;

$magenta-pink: #FE346E;

$dark-grey: #474646;

$middle-grey: #8F8F8F;

$light-grey: #F8F8F8;


/* Main Font */

$base-font: 'Noto Sans',
sans-serif;


/* Paddins */

$paddin-little: 0.625rem;     //10px
$paddin-middle: 0.938rem;    //15px
$paddin-large: 1.25rem;     //20px  
$paddin-X-large: 1.875rem; //30px


/* Margins */

$margin-little: 0.625rem;     //10px
$margin-middle: 0.938rem;    //15px
$margin-large: 1.25rem;     //20px  
$margin-X-large: 1.875rem; //30px


/* Animation */

$icon-transition: all 0.3s linear;



/*=====  End of Section variables  ======*/


/*=============================================
=            Typographic            =
=============================================*/

h1 {
    font-size: 2.063rem; //33px
    line-height: 3.188rem; //51px
    color: $dark-blue;
    font-weight: 400;
    display: none;
}

h2 {
    font-size: 1.625rem; //26px
    line-height: 2.688rem; //27px
    color: $dark-blue;
    font-weight: 400;
    padding: $paddin-middle;
}

h3 {
    font-size: 1.25rem; //20px
    line-height: 1.625rem; //26px
    font-weight: normal;
    color: $dark-grey;
    padding: $paddin-middle;
}

p {
    margin: 0 auto;
    padding: $paddin-middle;
    width: 90%;
    font-size: 1rem; //16px
    line-height: 1.625rem; //26px 
    color: $dark-grey;
    
    
}

h4 {
    font-size: 0.813rem; //13px
    line-height: 1.375rem; //17px
    font-weight: normal;
    color: $middle-grey;
    
}

/*=====  End of Typographic  ======*/

.wrap{
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: space-between;
}

header{
    width: 100%;
    height: 100px;
    box-shadow: 2px 10px 15px #f4f4f4;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}

.row{
    width: 100%;
}

.search{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background-color: #f9f9f9;
    input[type="search"]{
        padding-top: 4px;
        background-color: none;
        border-bottom: none;
    }
    
    input[type="search"]:focus{
        color: slategray;
    }
}

.map-img{
    box-sizing: border-box;
    margin-top: 50px;
    width: 156px;
    height: 156px;
    background-image: url('/img/location.png');
    background-size: cover;
    background-position: center center;
    filter: opacity(40%);

}

h2{
    width: 70%;
    opacity: 50%;
}

.main-nav{
    width: 100%;
    padding: 10px 0px;
    box-shadow: 0px -10px 15px #f4f4f4;
    ul{
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
            a{
                color: $dark-blue;
            }
        }
    }
}
